/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

/* Encabezado */
header {
  background-color: #007bff;
  color: white;
  text-align: center;
  padding: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 10px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.fotoentrada {
  width: 45%;
}
h2 {
  text-align: center;
}
.columnas {
  column-count: 2; /* Divide el texto en 2 columnas */
  column-gap: 20px; /* Espacio entre columnas */
}
ul {
  text-align: center;
}
