h1{
    color: red;
    text-align: center;
}
h2{ /* estilizamos los titulos h2 con la etiqueta especifica y todas las h2 van a tener este estilo*/
    color: red;
    text-align: center; /*text-align es para la alineacion al texto que seleccionemos en este caso alineamos todos los h2*/
 }
body{ 
    background-color: lightcyan; /*background-color es para darle un color de fondo a la pagina*/
}
.titulos{   /*uso las clases para pintar los textos en linea desde html */
    text-decoration: underline; /*subrayar titulos*/
    text-transform: uppercase; /*titulos en mayuscula*/
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal; /*el font-style es para cambiar el tipo de fuente en este caso lo dejamos en normal.*/
}
.caja{
    width: 50%; /*se puede expresar en este caso el ancho en px (pixeles) o porcemtaje de la pantalla como en este caso el 50%.*/
    height: 100px;
    background-color: darkolivegreen;
    border: 2px solid blue;
    text-align: center;
    line-height: 100px;
}
